/* Estilo base da página */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

/* Aplica box-sizing para todos os elementos */
*, *::before, *::after {
  box-sizing: inherit;
}
